body {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5; /* Calm background color */
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

img {
  max-width: 100%;
  max-height: 400px;
  margin-top: 20px;
  transition: transform 0.3s ease; /* Smooth scale transition on hover */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #b4cc8c; /* Border color */
  padding: 20px;
  background-color: #ffffff; /* White background */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Slightly adjusted box shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition for box shadow */
}

h1 {
  margin-top: 25px;
  color: #5c7f4c; /* Title color */
  transition: color 0.3s ease; /* Smooth transition for title color */
}

.search-section {
  margin-top: 10px; /* Lowered margin for the search section */
  transition: margin 0.3s ease; /* Smooth transition for margin */
}

label {
  margin-right: 10px;
  color: #5c7f4c; /* Label color */
}

select, button {
  padding: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Smooth transition for button background color */
}

select:hover, button:hover {
  background-color: #95b87b; /* Darker background color on hover */
}

dog-images {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img:hover {
  transform: scale(1.05); /* Scale up on hover */
}

img {
  max-width: 100%;
  height: auto;
  border: 7px solid #b4cc8c; /* Border around images */
  margin-bottom: 10px;
}

